<div id="contact" class="relative bg-white">

    <div class="lg:absolute lg:inset-0">
        <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
          <img class="h-56 w-full object-cover lg:absolute lg:h-full" 
          src="https://images.unsplash.com/photo-1552581466-ac9fec8dd978?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="">
        </div>
    </div>

    <div class="relative py-10 px-4 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto
        lg:grid lg:grid-cols-2">

        <div class="lg:pr-8">
            <div class="max-w-md mx-auto sm:max-w-lg lg:mx-0">

                <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
                    Let's <span class="text-sky-600">work </span>together</h2>

                <p class="mt-4 text-lg text-gray-500 sm:mt-3">
                Tell us a little about your project.
                </p>

                {% include contact-form.html %}

            </div>
        </div>
    </div>
</div>
