<footer class="bg-white">
  <div class="px-4 py-8 mx-auto overflow-hidden max-w-screen-xl sm:px-6 lg:px-8">
    <!--<nav class="flex flex-wrap justify-center -mx-5 -my-2">
      <div class="px-5 py-2">
        <a href="#" class="text-base text-gray-600 leading-6 hover:text-red-500">
          Jobs
        </a>
      </div>
      <div class="px-5 py-2">
        <a href="#" class="text-base text-gray-600 leading-6 hover:text-red-500">
          Contact
        </a>
      </div>
    </nav>-->
    <div class="mt-8">
      <p class="font-mono text-base text-center text-gray-400 leading-6">
      {{site.title}} {{site.time | date:'%Y'}} 
      <span class="text-sky-700"> ⚝  </span>
      Made with care in Albuquerque, New Mexico
      </p>
    </div>
  </div>
</footer>
