<div class="relative bg-white overflow-hidden">
    <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-4 lg:max-w-2xl lg:w-full
             lg:pb-2 xl:pb-32">

      <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
        <polygon points="50,0 100,0 50,100 0,100" />
      </svg>

      <div>
        <div class="relative pt-4 px-4 sm:px-6 lg:px-8">
          <nav class="relative flex items-center justify-between sm:h-10 lg:justify-end" aria-label="Global">
            <div class="block ml-8 pr-4 space-x-8">

              <a href="#contact" class="font-medium text-gray-500 hover:text-sky-700">Contact</a>

              <a href="#about" class="font-medium text-gray-500 hover:text-sky-700">About</a>

            </div>
          </nav>
        </div>
      </div>

      <main class="mt-2 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="sm:text-center lg:text-left">

      <h2 class="tracking-tight text-gray-900 font-bold sm:text-4xl">
          <span class="text-sky-600 font-sans text-5xl font-bold">iota </span>
          <span class="text-sky-600 font-sans text-5xl">⚝ </span>
          <span class="text-cinder-900 font-sans text-4xl">TECHNOLOGY SYSTEMS</span>
      </h2>
      <p class="mt-1 text-xl text-gray-700">

          Expertise in data engineering, design, and analysis.

      </p>



          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
          </div>
        </div>
      </main>
    </div>
  </div>
  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img class="hidden lg:block h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" 
    src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
  </div>
</div>
